:root {
    --header-color: rgb(30, 30, 30);
    --bg-color:  rgb(15, 15, 15);
    --accent: #156fa5;
}

* {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    padding: 0;
    margin:  0;
    box-sizing: border-box;
}

header {
    align-items: center;
    background-color: var(--header-color);
    border-bottom: .5em double var(--accent);
}

    header img {
        max-width:4em;
        max-width: auto;
        height: auto;
    }

    /* Heading */
    h1 {
        display: flex;
        font-size: 220%;
        padding-left: 20px;
    }

    h2 {
        display: flex;
        font-size: 220%;
        min-width: fit-content;
        padding-left: 20px;
    }

    /* Tyler ---- Brown */
    h2 > span {
        display: flex;
        font-size: 100%;
        margin-left: 0%;
        align-items: center;
    }

    /* - Blockhead - */
    h2 span span {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 50%;
        text-shadow: 1px 1px 0px var(--accent), 1px -1px 0px var(--accent), -1px -1px 0px var(--accent), -1px 1px 0px var(--accent);
        color: var(--header-color);
        margin-left: 2%;
        margin-right: 2%;
        position: relative;
        bottom: 5%;
        /* display: none; */

    }

    header ul {
        display: flex;
        flex: auto;
        justify-content: end;
    }

    header li {
        padding-inline: 15px;;
    }

    a {
        text-decoration: none;
        color: var(--peri-text);
    }

ul {
    list-style: none;
}

aside {
    flex-direction: column;
    max-width: 100%;
}


aside img {
    max-width:80%;
    width: auto;
    height: auto;
    align-self: center;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 5%;
    border: .22em solid var(--accent)
}

aside h2 {
    font-size: 300%;
    align-self: center;
    margin-bottom: 5%;
}

aside h3 {
    font-size: 150%;
}


.perimeter {
    background-color: var(--bg-color);
    color: var(--peri-text);
    display: flex;
}

/*#region SiteLayout */
/* Layout */
.header {
    grid-area: header;
    display: flex;
}

.aside {
    grid-area: aside;
}

.main {
    grid-area: main;
    padding-right: 5%
}

.footer {
    grid-area: footer;
}
.grid {
    display: grid;
    max-width: 100%;
    grid-template-areas: 
    'header header header header header header'
    'aside aside main main main main'
    'footer footer footer footer footer footer';
}
/*#endregion SiteLayout */

/*#region MainLayout*/
/* Main */
.main-header {
    grid-area: main-header;
    font-size: 200%;
    font-weight: 400;
    margin-left: 2%;
    margin-bottom: 5px;
}

.about {
    grid-area: about;
    font-size: 1.2em;
    margin-left: 7%;
    line-height: 175%;
}

.about span {
    font-size: 200%;
    font-weight: 400;
    margin-top: 5px;
    position: relative;
    right: 6%;
}

.main-img-1 {
    grid-area: main-img-1;
    background-color: grey;
    /* background-image: url("https://onedeadfox.github.io/blockhead-portfolio/assets/images/blockhead-logo.png"); */
    width: auto;
    padding-top: 56.25%;
    margin-top: 2%;
    display: flex;
}

.main-img-2 {
    grid-area: main-img-2;
    background-color: pink;
    width: auto;
    padding-top: 56.25%;
    display: flex;
}


.main-img-3 {
    grid-area: main-img-3;
    background-color: purple;
    width: auto;
    display: flex;

}


.main-img-4 {
    grid-area: main-img-4;
    background-color:green;
    width: auto;
    height: auto;
    display: flex;
}

.main div {
    margin-left: 10px;
    margin-bottom: 10px;
    position: relative;
}

.main-image-grid {
    display: grid;
    background-image: linear-gradient(to top right, var(--bg-color,) 10%, var(--header-color)100%);
    grid-template-areas: 
    'main-header main-header main-header main-header'
    'about about about about'
    'main-img-1 main-img-1 main-img-1 main-img-1'
    'main-img-1 main-img-1 main-img-1 main-img-1'
    'main-img-1 main-img-1 main-img-1 main-img-1'
    'main-img-1 main-img-1 main-img-1 main-img-1'
    'main-img-2 main-img-2 main-img-3 main-img-3'
    'main-img-2 main-img-2 main-img-4 main-img-4';
}

.tag {
    background-color: var(--header-color);
    width: fit-content;
    height: fit-content;
    color: var(--peri-text);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-right: 5px;
    position: absolute;
    bottom: 15px;
    border-radius: 0 10px 10px 0;
}

.tag-inverted {
    background-color: var(--header-color);
    width: fit-content;
    height: fit-content;
    color: var(--peri-text);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-right: 5px;
    position: absolute;
    bottom: 15px;
    border-radius: 0 10px 10px 0;
}
/*#endregion MainLayout*/

.nav-button {
    background-color: var(--header-color);
    border-color: var(--accent);
    width: 75px;
    padding: 5%;
}

footer {
    justify-content: center;
}

@media screen and (max-width: 992px) {
    .header h1{
        display: none;
    }
    
    header span span {
        display: none;
    }

    .aside {
        width: auto;
    }

    .grid{
        grid-template-areas:
        'header header header header header header'
        'aside main main main main main'
        'footer footer footer footer footer footer';
    }

    .main-image-grid {
        grid-template-areas: 
        'main-header'
        'about'
        'main-img-1'
        'main-img-2'
        'main-img-3'
        'main-img-4'
        ;
    }

    .main div {
        margin-left: 10px;
        margin-bottom: 10px;
        padding: 0;
        width: auto;
        height: 250px;
        position: relative;
    }
    
}

@media screen and (max-width: 768px) {
    .header h1{
        display: none;
    }

    .grid{
        grid-template-areas:
        'header'
        'main'
        'footer';
    }
    
    .main-image-grid {
        display: grid;
        grid-template-areas: 
        'main-header'
        'about'
        'main-img-1'
        'main-img-2'
        'main-img-3'
        'main-img-4';
    }

    .main div {
        margin-left: 10px;
        margin-bottom: 10px;
        padding: 0;
        width: auto;
        height: 250px;
        position: relative;
    }
    

    #sidebar {
        display: none;
    }
}